/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-background-color: #00c73c;
}

.bar {
	-fx-background-color: #fff;
	-fx-cursor: text;
}

.buttons {
	-fx-background-color: #f8f9fa;
	-fx-opacity: 1;
	-fx-cursor: hand;
}

.buttons:hover {
	-fx-background-color: #eee;
}